<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cardz Component</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/cardz.css">
</head>
<body>
    <h1>Welcome to Cardz Component</h1>
    
    <script type="module" src="/js/cardz.js" ></script>
</body>
</html>